<!DOCTYPE html>
<html lang="en">

<head>
    <title>Camera Stream</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        nav {
            display: flex;
            justify-content: left;
            align-items: center;
            padding: 10px;
        }

        nav label,
        #reboot,
        #shutdown {
            margin-right: 10px;
        }

        .button-container {
            display: flex;
            align-items: center;
        }

        label {
            margin-right: 10px;
            font-weight: bold;
        }

        button {
            font-size: 18px;
            padding: 10px 20px;
            margin: 5px;
            cursor: pointer;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        #cancel {
            background-color: #af4c4c;
        }

        img {
            border: 3px solid #ccc;
            width: 100%;
        }
    </style>
</head>

<body>

    <div style="display: flex;">
        <div style="width: 60%;">
            <img id="camera0" src="/video_feed/">
        </div>
    </div>

    <nav>
        <label>PRUSA Connect</label>
        <label id="connect">🔴</label>
    </nav>

    <button id="start_snapshots">📷▶️</button>
    <button id="stop_snapshots">📷⏹️</button>

    <nav>
        <label>Raspi</label>
        <label id="temperatureLabel">🌡️:</label>
        <label id="voltageLabel">⚡:</label>
        <label id="timeLabel">⏱️:</label>
    </nav>
    <button id="reboot">🍓🔄️</button>
    <button id="shutdown">🍓🌙</button>
    <button id="restart">🍓♻️</button>

    <nav>
        <label>PRUSA Link</label>
        <label id="bedTemperatureLabel">🔳🌡️:</label>
        <label id="nozzleTemperatureLabel">🔽🌡️:</label>
        <label id="printaeStateLabel">❔:</label>
        <label id="id">🆔:</label>
        <label id="progressLabel">⌛:</label>
    </nav>
    <button id="pause">🖨️⏸️</button>
    <button id="resume">🖨️▶️</button>
    <button id="cancel">🖨️❌</button>

    <div style="width: 60%;">
        <textarea id="logsArea" rows="10" cols="150"></textarea>
    </div>

    <script>
        document.getElementById("shutdown").addEventListener("click", function () {
            if (window.confirm("Are you sure you want to shut down the Raspberry Pi?")) {
                fetch("/shutdown", { method: "POST" })
                    .then(response => response.text())
                    .then(data => alert(data));
            }
        });

        document.getElementById("reboot").addEventListener("click", function () {
            if (window.confirm("Are you sure you want to reboot the Raspberry Pi?")) {
                fetch("/reboot", { method: "POST" })
                    .then(response => response.text())
                    .then(data => alert(data));
            }
        });

        document.getElementById("start_snapshots").addEventListener("click", function () {
            fetch("/start_snapshots", { method: "POST" })
                .then(response => response.text())
                .then(data => {
                    alert(data)
                    document.getElementById("connect").innerText = "🟢";
                });
        });

        document.getElementById("stop_snapshots").addEventListener("click", function () {
            fetch("/stop_snapshots", { method: "POST" })
                .then(response => response.text())
                .then(data => {
                    alert(data)
                    document.getElementById("connect").innerText = "🔴";
                });
        });

        document.getElementById("restart").addEventListener("click", function () {
            if (window.confirm("Are you sure you want to restart the service?")) {
                fetch("/restart-service", { method: "POST" })
                    .then(response => response.text())
                    .then(data => alert(data));
            }
        });

        document.getElementById("pause").addEventListener("click", function () {
            if (window.confirm("Are you sure you want to pause the print?")) {
                fetch("/prusa-link-pause", { method: "POST" })
                    .then(response => response.text())
                    .then(data => alert(data));
            }
        });

        document.getElementById("resume").addEventListener("click", function () {
            if (window.confirm("Are you sure you want to resume the print?")) {
                fetch("/prusa-link-resume", { method: "POST" })
                    .then(response => response.text())
                    .then(data => alert(data));
            }
        });

        document.getElementById("cancel").addEventListener("click", function () {
            if (window.confirm("Are you sure you want to stop the print?")) {
                fetch("/prusa-link-cancel", { method: "DELETE" })
                    .then(response => response.text())
                    .then(data => alert(data));
            }
        });

        // Function to update the label with the latest data and current time
        function updateLabel() {
            const temperature = document.getElementById("temperatureLabel");
            const voltage = document.getElementById("voltageLabel");
            const time = document.getElementById("timeLabel");

            fetch("/status")
                .then(response => response.json())
                .then(data => {
                    // Update the label with the latest data and current time
                    temperature.innerText = `🌡️: ${data.temperature}`
                    voltage.innerText = `⚡: ${data.voltage}`
                    time.innerText = `⏱️: ${data.current_time}`
                    if (data.prusa_connect) {
                        document.getElementById("connect").innerText = "🟢";
                    } else {
                        document.getElementById("connect").innerText = "🔴";
                    }
                })
                .catch(error => {
                    console.error(error);
                });

            fetch("/logs").then(response => response.text())
                .then(data => {
                    document.getElementById("logsArea").value = data; // Update logs area with logs
                })
                .catch(error => {
                    console.error(error);
                });

            // Fetch /prusa-link-status data
            fetch("/prusa-link-status")
                .then(response => response.json())
                .then(data => {
                    // Update the label with the latest data and current time
                    document.getElementById("bedTemperatureLabel").innerText = `🔳🌡️: ${data.printer.temp_bed}`
                    document.getElementById("nozzleTemperatureLabel").innerText = `🔽🌡️: ${data.printer.temp_nozzle}`
                    document.getElementById("printaeStateLabel").innerText = `❔: ${data.printer.state}`
                    // if data.job is defined
                    if (data.job) {
                        document.getElementById("id").innerText = `🆔: ${data.job.id}`
                        document.getElementById("progressLabel").innerText = `⌛: ${data.job.progress}% ${data.job.time_remaining}`
                    } else {
                        document.getElementById("id").innerText = `🆔: -`
                        document.getElementById("progressLabel").innerText = `⌛: -`
                    }
                })
                .catch(error => {
                    console.error(error);
                });


        }

        // Call the updateLabel function every 10 seconds
        updateLabel();
        setInterval(updateLabel, 5000);
    </script>

</body>

</html>